/*service input in contact.html*/

.service-ops {

    margin-left: 24%;
    margin-right: 24%;
}

.section-heading {
    color: #bca858;
}

.formsubmit {
    color: #ffffff;
    border-radius: 60px;
    border-color: #bca858;
    background-color: #bca858;

}