<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title -->
    <title>Bay Wash Studio</title>

    <!-- Stylesheet -->

    <link href="{{ url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='mystyles.css')  }}" rel="stylesheet" type="text/css"> {% block head %} {% endblock %}
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">

                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Sat: 9:00 am to 8:00 pm Sun:Closed<span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+416)-555-1234</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="akameNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{{url_for('index')}}"> <img src="{{ url_for('static', filename='img/baywayshlogo.png')  }}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            {% block menu %}
                            <!-- Nav Start -->
                            
                            <!-- Nav End -->
                            {% endblock %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Main Area Start -->

    <div class="main">

        {% block content %} {% endblock %}

    </div>
    <!-- Main Area End -->


    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo"><img src="{{ url_for('static', filename='img/baywayshlogo.png')  }}" alt=""></a>

                        <p class="mb-30">We would love to serve you and let you enjoy your salon experience. </p>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Opening times</h4>

                        <!-- Open Times -->
                        <div class="open-time">
                            <p>Monday-Saturday : 9:00AM - 8:00PM</p>
                            <p>Sunday: Closed</p>
                        </div>

                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">

                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us!</h4>

                        <!-- Contact Address -->
                        <div class="contact-address">
                            <p>Tel: (+416) 555-1234</p>
                            <p>E-mail: baywashstudio@gmail.com</p>
                            <p>Address: 2 Bloor West,<br> Toronto, ON M4W 3R1</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

 

    <!-- All JS Files -->
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')  }}"></script>

    <!-- Popper -->
    <script src="{{ url_for('static', filename='js/popper.min.js')  }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')  }}"></script>

    <!-- All Plugins -->
    <script src="{{ url_for('static', filename='js/akame.bundle.js')  }}"></script>

    <!-- Active -->

    <script src="{{ url_for('static', filename='js/default-assets/active.js')  }}"></script>

    <script src="{{ url_for('static', filename='gulpfile.js')  }}"></script>

    <script src="{{ url_for('static', filename='js/main.js')  }}"></script>

</body>

</html>
